 <!-- Start Slider Area -->
<div id="home" class="slider-area">
    <div class="bend niceties preview-2">
        <div id="ensign-nivoslider" class="slides">
            <img src="~/Content/img/slider/bbbe_slider1.jpg" alt="" title="#slider-direction-1" />
            <img src="~/Content/img/slider/bbbe_slider2.jpg" alt="" title="#slider-direction-2" />
            <img src="~/Content/img/slider/bbbe_slider3.jpg" alt="" title="#slider-direction-3" />
            <img src="~/Content/img/slider/bbbe_slider4.jpg" alt="" title="#slider-direction-4" />
        </div>


        <!-- direction 1 -->
        <div id="slider-direction-1" class="slider-direction slider-one">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="slider-content">
                            <!-- layer 1 -->
                            <div class="layer-1-1 hidden-xs wow slideInDown" data-wow-duration="2s" data-wow-delay=".2s"></div>
                            <!-- layer 3 -->
                            <div class="layer-1-3 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                                <a class="ready-btn page-scroll" href="#about">Leia mais</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- direction 2 -->
        <div id="slider-direction-2" class="slider-direction slider-two">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="slider-content text-center">
                            <!-- layer 1 -->
                            <div class="layer-1-1 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s"></div>
                            <!-- layer 2 -->
                            <div class="layer-1-3 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                                <a class="ready-btn page-scroll" href="#about">Leia mais</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- direction 3 -->
        <div id="slider-direction-3" class="slider-direction slider-two">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="slider-content">
                            <!-- layer 1 -->
                            <div class="layer-1-1 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s"></div>
                            <!-- layer 3 -->
                            <div class="layer-1-3 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                                <a class="ready-btn page-scroll" href="#about">Leia mais</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- direction 4 -->
        <div id="slider-direction-4" class="slider-direction slider-two">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="slider-content">
                            <!-- layer 1 -->
                            <div class="layer-1-1 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s"></div>
                            <!-- layer 2 -->
                            <div class="layer-1-3 hidden-xs wow slideInUp" data-wow-duration="2s" data-wow-delay=".2s">
                                <a class="ready-btn page-scroll" href="#about">Leia mais</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Slider Area -->
<!-- Start About area -->
<div id="about" class="about-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h2>Sobre nós</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- single-well start-->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-left">
                    <div class="single-well">
                        <a href="#">
                            <img src="~/Content/img/about/logo.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <!-- single-well end-->
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="well-middle">
                    <div class="single-well">
                        <a href="#">
                            <h4 class="sec-head">Nossa história</h4>
                        </a>
                        <p>O projeto Bom na Escola é Bom de Bola teve inicio no ano de 2015,  na cidade de Pindamonhangaba. Este projeto visa através de reforços escolares e aulas de futebol contribuir com a formação de nossas crianças. </p>
                        <p>Hoje o projeto atente em torno de 80 crianças. Com a ajuda de voluntários ministramos aulas de reforço durante a semana e aulas de futebol aos sábados.</p>
                        <p>Para a criança participar do projeto é obrigatório que ela esteja frequentando regularmente a escola. Acompanhamos o desempenho escolar de todas as crianças atendidas e juntos trabalhamos para ensiná-las de acordo com as dificuldades de aprendizado.</p>
                    </div>
                </div>
            </div>
            <!-- End col-->
        </div>
    </div>
</div>
<!-- End About area -->
<!-- Start portfolio Area -->
<div id="portfolio" class="portfolio-area area-padding fix">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-headline text-center">
                    <h2>Galeria</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Start Portfolio -page -->

            <div class="awesome-project-content">
                <!-- single-awesome-project start -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href="#"><img src="~/Content/img/galeria/bbbe_1.jpg" alt="" /></a>
                            <div class="add-actions text-center">
                                <div class="project-dec">
                                    <a class="venobox" data-gall="myGallery" href="~/Content/img/galeria/bbbe_1.jpg"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single-awesome-project end -->
                <!-- single-awesome-project start -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href="#"><img src="~/Content/img/galeria/bbbe_2.jpg" alt="" /></a>
                            <div class="add-actions text-center">
                                <div class="project-dec">
                                    <a class="venobox" data-gall="myGallery" href="~/Content/img/galeria/bbbe_2.jpg"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single-awesome-project end -->
                <!-- single-awesome-project start -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href="#"><img src="~/Content/img/galeria/bbbe_3.jpg" alt="" /></a>
                            <div class="add-actions text-center">
                                <div class="project-dec">
                                    <a class="venobox" data-gall="myGallery" href="~/Content/img/galeria/bbbe_3.jpg"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single-awesome-project end -->
                <!-- single-awesome-project start -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href="#"><img src="~/Content/img/galeria/bbbe_1.jpg" alt="" /></a>
                            <div class="add-actions text-center">
                                <div class="project-dec">
                                    <a class="venobox" data-gall="myGallery" href="~/Content/img/galeria/bbbe_4.jpg"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single-awesome-project end -->
                <!-- single-awesome-project start -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href="#"><img src="~/Content/img/galeria/bbbe_5.jpg" alt="" /></a>
                            <div class="add-actions text-center text-center">
                                <div class="project-dec">
                                    <a class="venobox" data-gall="myGallery" href="~/Content/img/galeria/bbbe_5.jpg"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single-awesome-project end -->
                <!-- single-awesome-project start -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-awesome-project">
                        <div class="awesome-img">
                            <a href="#"><img src="~/Content/img/galeria/bbbe_6.jpg" alt="" /></a>
                            <div class="add-actions text-center">
                                <div class="project-dec">
                                    <a class="venobox" data-gall="myGallery" href="~/Content/img/galeria/bbbe_6.jpg"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- single-awesome-project end -->
            </div>
        </div>
    </div>
</div>
<!-- awesome-portfolio end -->
<!-- Start Testimonials -->
<div class="testimonials-area">
    <div class="testi-inner area-padding">
        <div class="testi-overly"></div>
        <div class="container ">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <!-- Start testimonials Start -->
                    <div class="testimonial-content text-center">
                        <a class="quate" href="#"><i class="fa fa-quote-right"></i></a>
                        <!-- start testimonial carousel -->
                        <div class="testimonial-carousel">
                            <div class="single-testi">
                                <div class="testi-text">
                                    <p>
                                        Não deixe que as pessoas te façam desistir daquilo que você mais quer na vida. Acredite. Lute. Conquiste. E acima de tudo, seja feliz.
                                    </p>
                                    <h6>Autor desconhecido</h6>
                                </div>
                            </div>
                            <!-- End single item -->
                            <div class="single-testi">
                                <div class="testi-text">
                                    <p>
                                        O esporte tem a capacidade de transformar pensamentos educando o jovem pelo prazer.
                                    </p>
                                    <h6>Elijarbas Rocha</h6>
                                </div>
                            </div>
                            <!-- End single item -->
                            <div class="single-testi">
                                <div class="testi-text">
                                    <p>
                                        O Esporte carrega consigo essa magia de construir famílias, preenchendo lacunas, ensinando valores, multiplicando alegria, mostrando que a vida pode ser bem mais quando se tem alguém ao seu lado.
                                    </p>
                                    <h6>João Pedro Soares</h6>
                                </div>
                            </div>
                            <!-- End single item -->
                        </div>
                    </div>
                    <!-- End testimonials end -->
                </div>
                <!-- End Right Feature -->
            </div>
        </div>
    </div>
</div>
<!-- End Testimonials -->
<!-- Start contact Area -->
<div id="contact" class="contact-area">
    <div class="contact-inner area-padding">
        <div class="contact-overly"></div>
        <div class="container ">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>Contato</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Start contact icon column -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="contact-icon text-center">
                        <div class="single-icon">
                            <i class="fa fa-mobile"></i>
                            <p>
                                Tel: (12)9999-9999<br>
                                <span>Seguda-Sábado (9h-17h)</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Start contact icon column -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="contact-icon text-center">
                        <div class="single-icon">
                            <i class="fa fa-envelope-o"></i>
                            <p>
                                Email: bombolabomescola@example.com<br>
                                <span>Web: www.bombolabomescola.com</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Start contact icon column -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="contact-icon text-center">
                        <div class="single-icon">
                            <i class="fa fa-map-marker"></i>
                            <p>
                                Rua Olavo Jorge, 302-370 - Res. Mombaca
                                <br>
                                <span>Pindamonhangaba - SP, 12424-040</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                

                <!-- Start Google Map -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <!-- Start Map -->
                    <div id="google-map" data-latitude="-22.952973" data-longitude="-45.503643"></div>
                    <!-- End Map -->
                </div>
                <!-- End Google Map -->
                <!-- Start  contact -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form contact-form">
                        <div id="sendmessage">Your message has been sent. Thank you!</div>
                        <div id="errormessage"></div>
                        <form action="" method="post" role="form" class="contactForm">
                            <div class="form-group">
                                <input type="text" name="nome" class="form-control" id="nome" placeholder="Seu nome" data-rule="minlen:4" data-msg="Insira seu nome" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Seu e-mail" data-rule="email" data-msg="Insira seu e-mail" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="assunto" id="subject" placeholder="Assunto" data-rule="minlen:4" data-msg="Insira o assunto" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="mensagem" rows="5" data-rule="required" data-msg="Insira sua mensagem" placeholder="Menssagem"></textarea>
                                <div class="validation"></div>
                            </div>
                            <div class="text-center"><button type="submit">Enviar</button></div>
                        </form>
                    </div>
                </div>
                <!-- End Left contact -->
            </div>
        </div>
    </div>
</div>
<!-- End Contact Area -->