<div class="jumbotron">
    <h1>Bom Na Escola é Bom de Bola</h1>
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>API</h2>
        <p>Consulte a api para consumo dos dados.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Help")">Veja  &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>SITE</h2>
        <p>Confira o site com os dados do projeto</p>
        <p><a class="btn btn-default" href="bomnaescolaebomdebola.com">Veja &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>APP</h2>
        <p>Fa~ça o download do aplicativo Android</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Help")">Veja &raquo;</a></p>
    </div>
</div>
