<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Users\analu\Desktop\teste\Araretama.BomNaEscolaBomDeBola.Site.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>bomnaescolaebomdebola</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Araretama.BomNaEscolaBomDeBola.Site.Models.ApplicationDbContext, Araretama.BomNaEscolaBomDeBola.Site" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="BomNaEscolaBomDeBolaDbContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Araretama.BomNaEscolaBomDeBola.DataAccess.Entity.Context.BomNaEscolaBomDeBolaDbContext, Araretama.BomNaEscolaBomDeBola.DataAccess.Entity" MigrationConfiguration="Araretama.BomNaEscolaBomDeBola.DataAccess.Entity.Migrations.Configuration, Araretama.BomNaEscolaBomDeBola.DataAccess.Entity" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)BomNaEscolaBomDeBolaDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>